{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<!-- deliverables -->
<section class="section">
  <div class="container">

    <div class="row mb-5">
        <div class="col-md-6 mb-4 mb-md-0">
          <img class="img-fluid" src="{{ .Params.image | relURL }}" alt="scholarship news">
        </div>
        <div class="col-md-6 content">
          {{ .Content }}
        </div>
      </div>

    <!-- deliverables list -->
    <!-- <div class="row justify-content-center"> -->
    <div class="row">
      <!-- deliverables item -->
      {{ range .Data.Pages }}
      <div class="col-lg-4 col-sm-6 mb-5">
        {{ .Render "deliverables" }}
      </div>
      {{ end }}
    </div>
    <!-- /deliverables list -->

  </div>
</section>
<!-- /deliverables -->

{{ end }}